:root {
    --background: #212121;
    --foreground: #eee;
    --accent-bg: #abffdc;
}

@font-face {
  font-family: "Basteleur";
  src:
    local("Basteleur"),
    url("lib/basteleur-master/fonts/webfonts/Basteleur-Bold.woff") format("woff"),
    url("lib/basteleur-master/fonts/webfonts/Basteleur-Bold.woff2") format("woff2")
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: monospace;
  font-size: medium;
  margin: 1rem;
  text-align: center;
}

h1 {
  font-family: "Basteleur";
  line-height: 1.5;
  font-size: 3rem;
  text-align: center;
}

body.page > img.cover-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

nav.cover-menu {
  display: block;
  margin: 0 auto 3rem 0;
}

nav.cover-menu > a {
  padding: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  display: inline-block;
  margin: 0.25rem;
  color: var(--foreground);
}

nav.cover-menu > a:hover, nav.cover-menu > a:focus {
  background-color: var(--accent-bg);
  color: var(--background);
}

body {
  font-size: 1.2rem;
  max-width: 75ch;
  margin: 2rem auto;
}

body.app {
  max-width: fit-content;
  text-align: center;
  margin:1rem auto;
  display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "presence main" "footer footer";
    grid-gap: 1rem;
}

body > article {
  text-align: left;
  line-height: 140%;
}

body > article > h1 {
  font-size: 2em;
  line-height: 130%;
}

a.signup {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 1.7rem auto 4rem auto;
}

a, a:visited {
  color: var(--accent-bg);
}

/* Presence nav */

nav.presence {
  text-align: left;
}
nav.presence div {
  margin-bottom: 1rem;
}

.own-avatar {
    margin-bottom: 0.5rem;
}

#avatar {
    font-size: 2em;
}

input#username {
    background: var(--background);
    color: var(--foreground);
    border: 1px solid var(--foreground);
    padding: 0.2rem 0.3rem;
    border-radius: 0.25rem;
    /*! width: max-content; */
  }

.consent-false {
  color: #ff0000;
}
.consent-true {
  color: #00ff00;
}

nav.presence  h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

#users div {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

.input {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
  }

textarea#sigil_input {
    background: var(--background);
    color: var(--foreground);
    font-size: 1.2rem;
    border: 1px solid var(--foreground);
    border-radius: 0.5rem;
    padding: 0.5rem;
    resize: vertical;
  }

#ouija_cypher span {
  padding: 0.4rem;
  line-height: 90%;
}

#ouija_cypher {
  font-size: 1.5rem;
  margin: 1rem;
}

#ouija_btn {
  margin-bottom: 3rem;
}

.currrent {
  border-radius: 50%;
  border: 4px solid #c139b6;
  color: #c139b6;
}

#ouija_cypher {
  font-family: monospace;
}

#ouija_cypher span {
  display: inline-block;
  width: 1rem;
}

footer {
    grid-area: footer;
    text-align: center;
}
