body {
    text-align: left;
    padding: 0 1rem;
}

header {
    text-align: center;
}

h1.title {
    font-family: serif;
}

#toc-title {
    text-align: left;
}

nav#TOC ul {
    text-align: left;
}

p {
    font-family: serif;
    line-height: 140%;
}

img, video {
    max-width: 100%;
}

video {
    box-shadow: 0 0 30px #000;
}

figure {
    text-align: center;
}

figcaption, .figcaption {
    text-align: center;
    font-size: 0.8em;
    margin: 1rem 0 2rem 0;
    color: var(--accent-bg);
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    padding: 5px;
}

.csl-entry {
    margin-bottom: 1.5rem;
    font-size: 0.8em;
}